# Node Dependencies
node_modules/

# Environment files & Local Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# Build outputs, Archives & OS files
dist/
build/
*.zip
.DS_Store
Thumbs.db
